@charset "utf-8";

@media screen {
    

    *{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    div#centro{
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        width: 70vw;
        height: 680px;

    }
    div#imagem{
        height: 300px;
        width: 70vw;
        border-radius: 5px 5px 0px 0px;
        background-image: url(images/onibus.jpeg);
        background-position: center right;
        background-size: cover;
        border-bottom: 1px black solid;
    }

    body{
        background-color: rgb(65, 65, 65);
        display: flex;
        justify-content: center;
    }
    p#questao{
        font-size: 1.2em;
    }
    p.legenda{
        height: 5px;
        font-size: .75em;
        color: rgb(80, 80, 80);
    }
    p#bottom{
        margin-bottom: 20px;
    }


    p#top{
        margin-bottom: 2em;
    }
}