@charset "utf-8";


@media screen and (min-width:600px) {
    div#centro{
        
        width: 55vw;
        height: 600px;

    }
    div#imagem{
        width: 55vw;       
    }
    .divisorMobile{
        display: none;
    }
}